
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

:root {
    --body-width: 750px;
    --body-font-size: 20px;
    /* --body-font-face: 'Open Sans', sans-serif; */
    --body-font-face: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    --body-font-color: rgba(0, 0, 0, 0.84);
    --body-font-weight: 400;
    --body-line-height: 1.58;
    /* --link-font-color: #0090d3; */
    --link-font-color: #ec521e;
    --link-font-color-fade: #b84018;
    --heading-font-face: 'Yanone Kaffeesatz', sans-serif;
    /* --heading-font-face: 'Open Sans', sans-serif; */
    --heading-font-color: rgba(0, 0, 0, 0.84);
    --heading-font-weight: 200;
    --caption-font-family: 'Open Sans', sans-serif;
    --caption-font-size: 15px;
    --caption-font-color: #555d66;
    --archive-font-family: 'Open Sans', sans-serif;
    --archive-font-size-lg: 25px;
    --archive-font-size-md: 20px;
    --archive-font-size-sm: 15px;
    --archive-font-color: #fff;
}



:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #5533ff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
:root {
    --body-width: 750px;
    --body-font-size: 20px;
    /* --body-font-face: 'Open Sans', sans-serif; */
    --body-font-face: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    --body-font-color: rgba(0, 0, 0, 0.84);
    --body-font-weight: 400;
    --body-line-height: 1.58;
    /* --link-font-color: #0090d3; */
    --link-font-color: #ec521e;
    --link-font-color-fade: #b84018;
    --heading-font-face: 'Yanone Kaffeesatz', sans-serif;
    /* --heading-font-face: 'Open Sans', sans-serif; */
    --heading-font-color: rgba(0, 0, 0, 0.84);
    --heading-font-weight: 200;
    --caption-font-family: 'Open Sans', sans-serif;
    --caption-font-size: 15px;
    --caption-font-color: #555d66;
    --archive-font-family: 'Open Sans', sans-serif;
    --archive-font-size-lg: 25px;
    --archive-font-size-md: 20px;
    --archive-font-size-sm: 15px;
    --archive-font-color: #fff;
}

body, button, input, select, optgroup, textarea, nav {
    color: var(--body-font-color) !important;
    font-family: var(--body-font-face) !important;
    font-size: var(--body-font-size) !important;
    line-height: var(--body-line-height) !important;
}

.container {
    margin: 0 auto 0 auto;
    width: var(--body-width);
    max-width: 800px;
    padding: 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-face) !important;
    color: var(--heading-font-color) !important;
    font-weight: var(--heading-font-weight) !important;
    clear: both;
    line-height: 1em !important;
    margin-bottom: 0.5rem !important;
    margin-top: 0.25rem !important;
}

.h1, h1 {
    font-size: 2.5rem;
}

span.title-spice {
    color: var(--link-font-color);
}

.entry-meta {
    margin-bottom: 1rem;
    font-family: var(--caption-font-family);
    font-size: var(--caption-font-size);
    color: var(--caption-font-color);
    display: flex;
    flex-direction: column-reverse;
}

.entry-meta span {
    font-size: 0;
    display: block;
}

.entry-meta .author a {
    color: var(--body-font-color);
    font-weight: var(--body-font-weight);
}

.wp-block-image img {
    max-width: 100%;
    /*width: 100%;*/
    width: 500px !important;
    height: auto !important;
}

.wp-block-image .is-resized {
    width: 500px;
}

.wp-block-image .alignleft {
    margin-left: -50px;
    float: left;
}

.wp-block-image .alignright {
    margin-right: -50px;
    float: right;
}