
document, body {
  margin: 0;
  padding: 0;
} 

.video-wrapper {
  position: relative;
  border: solid 1px red;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Maintain aspect ratio and cover entire container */
  object-fit: cover; 
  /* mirror video - flip left to right */
  transform: scaleX(-1);
}

.video-wrapper video,
.video-wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
}

.video-wrapper canvas {
  border: solid 1px orange;
}
