
document, body {
  margin: 0;
  padding: 0;
  background-color: black;
} 

/* The wrapper will cover the screen */
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
}

/* The video can be full width but not cover the screen, because we hide it behind the scenes */
.wrapper video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-width: 640px;
  max-height: 400px;
  /* We don't even have to mirror is, because it's hidden and we mirror the canvas coordinates. */
  /* transform: scaleX(-1); */
  border: solid 1px red;
}

/* The canvas should cover the screen  */
.wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  border: solid 1px orange;
}
